
.mod_fluencybuilder_attemptsummary {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}


.mod_fluencybuilder_no-close .ui-dialog-titlebar-close {
	display: none;
}

.mod_fluencybuilder_dialogcontentbox{
	border-width: 2px;
	border-style: solid;
	border-color: green;
	margin: 5px;
}

.mod_fluencybuilder_autobutton_active{
	border-width: 2px;
	border-style: dashed;
	border-color: red;
}

.mod_fluencybuilder_autobutton_inactive{
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

.mod_fluencybuilder_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

.mod_fluencybuilder_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

.mod_fluencybuilder_buttoncontainer{
	display: flex;
	float: center;
	margin-left: 30%;
	margin-right: 30%;
}

div.mod_fluencybuilder_actionbuttons {
	display: flex;
	float: right;
}


.generaltable.mod_fluencybuilder_session_choosertable {
	width: 100%;
	border: 1px;
}

.mod_fluencybuilder_session_choosertable  select{
	width: 100%; 
}
.mod_fluencybuilder_session_choosertable  button{
	width: 100%; 
}
.generaltable.mod_fluencybuilder_session_choosertable  td{
	text-align: center; 
}
.generaltable.mod_fluencybuilder_session_choosertable  td.listcontainer{
	width: 45%;
}
.generaltable.mod_fluencybuilder_session_choosertable  td.buttoncontainer{
	width: 10%;
}






/*
	Summary Section
*/



.mod_fluencybuilder_reviewrow_itemorder strong{
	font-size: 20px;
}

.mod_fluencybuilder_reviewrow_itemorder{
	margin-bottom: 20px;
}

.mod_fluencybuilder_reviewrow_itemname strong{
	font-size: 20px;
}

.mod_fluencybuilder_reviewrow_itemname{
	margin-bottom: 20px;
}

.mod_fluencybuilder_reviewrow_answer{
	margin-bottom: 20px;
}
.mod_fluencybuilder_reviewrow_answer strong{
	font-size: 20px;
}

.card-block h2{
	padding: 10px 0px;
}
.mod_fluencybuilder_container h3{
	padding: 20px 0px;
}
.mod_fluencybuilder_container{
	padding: 0px !important;
}
.mod_fluencybuilder_attemptsummary{
    margin-bottom: 20px;
    margin-left: 0px !important;
	border: none;
}
.mod_fluencybuilder_reviewrow{
	width: 65%;
	margin: 0 auto;
}
.mod_fluencybuilder_sessiondate{
    text-align: center;
    border: 1px solid;
    border-right: 0px;
	padding: 10px;
}

.mod_fluencybuilder_sessionscore{
	text-align: center;
    border: 1px solid;
	padding: 10px;
}

@media only screen and (max-width : 1200px) {
	.mod_fluencybuilder_sessiondate{
		width: 50% !important;
	}
	.mod_fluencybuilder_sessionscore{
		width: 50% !important;
	}
}

@media only screen and (max-width : 992px) {
	.mod_fluencybuilder_sessiondate{
		width: 50% !important;
	}
	.mod_fluencybuilder_sessionscore{
		width: 50% !important;
	}
}

@media only screen and (max-width : 768px) {


	.mod_fluencybuilder_sessiondate{
		width: 50% !important;
	}
	.mod_fluencybuilder_sessionscore{
		width: 50% !important;
	}

}
.poodll_mediarecorderholder_fluencybuilder{
	margin: 0 auto !important;
	width: 120px;
}
.mod_fluencybuilder_itemtext{
	margin-bottom: 20px;
}
.mod_fluencybuilder_cancelholder{
	margin-top: 20px;
}
.mod_fluencybuilder_container_center{
	
	text-align: center;
}
@media only screen and (max-width : 480px) {
	#page-mod-fluencybuilder-activity .mod_fluencybuilder_no-close{
		width: 100% !important;
	}
	.mod_fluencybuilder_attemptsummary{
		width: 100%;
	}
	.mod_fluencybuilder_sessiondate{
		width: 50% !important;
		padding: 0px;
	}
	.mod_fluencybuilder_sessionscore{
		width: 50% !important;
		height: 44px;
	}
	.mod_fluencybuilder_reviewrow{
		width: 100% !important;
	}
}

















